.card{
  position:relative;
  cursor: pointer;
  width: 250px;
  height: 156px;
  border-radius: 10px;
  float: left;
  margin-right: 20px;
  overflow: hidden;
  margin-bottom: 20px;
  .remove-btn{
    position:absolute;
    color:#fff;
    right: 5px;
    top:2px;
    font-size: 18px;
  }
  &:hover{
    transform: scale(1.05);
  }

  .course-name{
    color: #fff;
    text-align: center;
    height: 78px;
    line-height: 78px;
    font-size: 18px;
    margin: 0;
    font-style: italic;
  }
  .tips-content{
    background: #fff;
    height: 76px;
    .tips-item{
      height: 39px;
      line-height: 39px;
      text-align: center;
    }
  }
}