.color1{
  background: #AEEC33;
}
.color2{
  background: #85B0FE;
}
.color3{
  background: #57EFA2;
}
.color4{
  background: #FFC157;
}
.color5{
  background: #FFC44E;
}
.color6{
  background: #FF9DD8;
}
.color7{
  background: #AA90FD;
}
.color8{
  background: #75E6E9;
}
.color9{
  background: #70EB54;
}
.color10{
  background: #72E3E3;
}