.container{
  position:relative;
  width: 600px;
  margin: 50px auto;
  height: 695px;
  .qr-content{
    .btn-content{
      margin-top: 50px;
      text-align: center;
    }
  }
  .bg-tips{
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    left: 0;
    text-align: center;
    width: 600px;
  }
}
